--- 
layout: home 
title: Sewa Mobil Surabaya
canonical: https://tran99.com/index.html
photos: https://tran99.com/static/rental-mobil-surabaya.jpg
---
<section class="vs-content">
    <div class="vs-page vs-home-page">
        <div class="vs-section-slider">
            <div class="grid-container full">
                <div class="grid-x">
                    <div class="small-12 cell">
                        <div class="box-slider">
                            <h1 class="text-center text-title">{{ site.section-1-a }}</h1>
                            <h2 class="text-center text-title">{{ site.section-1-b }}</h2>
                            <div class="grid-container">
                                <div class="grid-x">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-0">
            <div class="grid-x">
                <div class="medium-6 large-6 cell show-for-medium vs-bg-lightgrey">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell text-center">
                                <div class="vs-box-profile-img text-right">
                                    <amp-img src="/static/man.png" width="400" height="551" layout="fixed" alt="man rental mobil surabaya"></amp-img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-6 large-6 cell">
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 large-10 cell">
                            <div class="vs-about-content">
                                <div class="vs-section-title text-center">
                                    <h3><span class="text-title">{{ site.section-2 }}</span></h3>
                                </div>
                                <div class="media-object">
                                    <div class="media-object-section main-section text-center">
                                        <p class="text-center">{{ site.section-2-a }}</p>
                                        <a href="tel:{{ site.telephone }}" class="button vs-flat-btn-primary">{{ site.telephonedetail }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-6 large-6 cell hide-for-medium">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell text-center">
                                <div class="vs-box-profile-img text-left">
                                    <amp-img src="/static/man.png" width="175" height="241" layout="fixed" alt="sewa mobil di surabaya"></amp-img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vs-section vs-bg-secondary">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-center">
                    <div class="small-12 cell">
                        <div class="vs-section-title text-center">
                            <h3><span class="text-title">{{ site.section-3 }}</span></h3>
                        </div>
                    </div>
                    <div class="small-12 large-10 cell">
                        <div class="grid-x grid-padding-x">
                            {% for item in site.data-section-3 %}
                            <div class="small-12 medium-6 large-3 cell text-center">
                                <div class="shape-logo">
                                    <div class="box-shape-img">
                                        <amp-img src="{{ item.amp-img-scr }}" width="{{ item.amp-img-width }}" height="{{ item.amp-img-height }}" layout="{{ item.amp-img-layout }}" alt="{{ item.amp-img-alt }}"></amp-img>
                                    </div>
                                    <h6 class="shape-text">{{ item.text-title }}</h6>
                                    <p>{{ item.text-description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vs-section vs-bg-smoke vs-section-gallery">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-center">
                    <div class="small-12 cell">
                        <div class="vs-section-title text-center">
                            <h3><span class="text-title">{{ site.section-4 }}</span></h3>
                        </div>
                    </div>
                    <div class="small-12 medium-10 cell">
                        <div class="vs-gallery-content">
                            <div class="grid-x grid-padding-x">
                                {% for item in site.data-gallery limit:6 %}
                                <div class="large-4 cell">
                                    <div class="vs-box-gall-img">
                                        <amp-instagram data-shortcode="{{ item.data-shortcode }}" width="1" height="1" layout="responsive">
                                        </amp-instagram>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-10 cell text-right">
                        <a href="/gallery" class="button vs-flat-btn-primary">Selebihnya</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vs-section vs-bg-primary padding-bottom-1">
        <div class="grid-x">
            <div class="small-12 cell">
                <div class="vs-section-title text-center">
                    <h3><span class="text-title text-secondary">{{ site.section-5 }}</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-0">
        <div class="grid-x">
            <div class="medium-7 cell vs-bg-primary">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x align-right">
                        <div class="small-12 large-8 cell">
                            <div class="grid-x grid-padding-x">
                                {% for item in site.data-section-5 %}
                                <div class="small-6 cell text-center">
                                    <div class="shape-logo">
                                        <div class="box-shape-img">
                                            <amp-img src="{{ item.amp-img-scr }}" width="{{ item.amp-img-width }}" height="{{ item.amp-img-height }}" layout="{{ item.amp-img-layout }}" alt="{{ item.amp-img-alt }}"></amp-img>
                                        </div>
                                        <h6 class="shape-text"><span class="font-bold">{{ item.text-title }}</span></h6>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-5 cell vs-bg-primary show-for-medium">
                <div class="grid-x grid-padding-x">
                    <div class="small-12 large-8 cell">
                        <div class="vs-box-profile-img text-left">
                            <amp-img src="/static/manbrown.png" width="350" height="454" layout="fixed" alt="rental mobil di surabaya"></amp-img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vs-section-closing">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell text-center">
                <h5 class="font-italic">" <span class="font-bold text-secondary">{{ site.section-6-a }}</span> {{ site.section-6-b }} "</h5>
            </div>
        </div>
    </div>
</section>