<title>{{ page.title | default: page.text-title }} | {{ site.company }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="shortcut icon" href="{{ site.favicon }}">
<link rel="canonical" href="{{ site.url | default: site.siteurl }}{{ page.url | replace:'index.html',''}}">
<meta name="theme-color" content="#3399ff" />
<meta name="amp-experiments-opt-in" content="visibility-v2,visibility-v3">
<meta name="keywords" lang="{{ site.lang }}" content="{{ site.keywords }}">
<link rel="alternate" href="{{ site.url | default: site.siteurl }}" hreflang="{{ site.lang }}" />
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} &raquo; Atom Feed" href="{{ site.url | default: site.siteurl }}/feed.xml" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; RSS Feed" href="{{ site.url | default: site.siteurl }}/feed.xml" />
<meta name="robots" content="index,follow" />
<meta name="description" content="{{ page.description }}" />
<meta property="fb:app_id" content="{{ site.fb_app_id }}" />
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="og:url" content="{{ site.url | default: site.siteurl }}{{ page.url | replace:'index.html',''}}" />
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ page.title | default: page.text-title }} | {{ site.company }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{% if page.photos contains 'http' %}{{ page.photos }}{% else %}{{ site.url }}{{ page.photos }}{% endif %}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.creator }}">
<meta name="twitter:title" content="{{ page.title | default: page.text-title }} | {{ site.company }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{% if page.photos contains 'http' %}{{ page.photos }}{% else %}{{ site.url }}{{ page.photos }}{% endif %}">
<script type='application/ld+json'>
{
    "@context": "https://schema.org",
    "@type": "{{ site.type }}",
    "@id": "{{ site.url }}/#AutoRental",
    "url": "{{ site.url }}/",
    "name": "{{ page.title | default: page.text-title }} - {{ site.title }} - {{ site.company }}",
    "logo": "{{ site.url }}/static/rental-mobil-surabaya-tran99-logo.png",
    "image": "{% if page.photos contains 'http' %}{{ page.photos }}{% else %}{{ site.url }}{{ page.photos }}{% endif %}",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ site.streetAddress }}",
        "addressLocality": "{{ site.address }}",
        "postalCode": "{{ site.postalCode }}",
        "addressCountry": "ID"
    },
    "telephone": "{{ site.telephone }}",
    "priceRange": "Rp 400.000 - Rp 1.800.000"
}
</script>
{% if page.layout == 'post' %}
<script type='application/ld+json'>
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Beranda",
            "item": "{{ site.url }}/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Info Blog",
            "item": "{{ site.url }}/blog/"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": {{ page.text-title | default: page.title | jsonify }},
            "item": "{{ site.url }}{{ page.url | replace:'index.html',''}}"
        }
    ]
}
</script>
{% endif %}
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.favicon }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.favicon }}">
<link rel="apple-touch-icon" sizes="167x167" href="{{ site.favicon }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon }}">
