<header class="vs-header" data-sticky-container>
    <div class="sticky top-bar" data-sticky data-margin-top="0" data-sticky-on="small">
        <div class="top-bar-left">
            <a href="/">
                <div class="vs-logo text-center">
                </div>
            </a>
            <div class="vs-logo-text">
                <h4 class="text-white">Tran99</h4>
            </div>
        </div>
        <div class="top-bar-right">
            <div class="vs-box-phone-menu hide-for-medium">
                <a href="javascript:" data-toggle="jt-menu"><i class="mdi mdi-dots-vertical mdi-36px"></i></a></div>
            <div class="full reveal vs-reveal" id="jt-menu" data-reveal>
                <p>&nbsp;</p>
                <div class="grid-x grid-padding-x">
                    <div class="small-12 cell text-center">
                        <a href="/product">
                            <amp-img src="/static/car.png" width="48" height="48" layout="responsive" alt="sewa mobil di surabaya"></amp-img>
                            <h6>Sewa Mobil</h6>
                        </a>
                    </div>
                    <div class="small-12 cell text-center">
                        <a href="/about-us">
                            <amp-img src="/static/about.png" width="48" height="48" layout="responsive" alt="sewa mobil di surabaya"></amp-img>
                            <h6>Tentang Kami</h6>
                        </a>
                    </div>
                    <div class="small-12 cell text-center">
                        <a href="/gallery">
                            <amp-img src="/static/gallery.png" width="48" height="48" layout="responsive" alt="sewa mobil di surabaya"></amp-img>
                            <h6>Galleri</h6>
                        </a>
                    </div>
                    <div class="small-12 cell text-center">
                        <a href="/contact-us">
                            <amp-img src="/static/gallery.png" width="48" height="48" layout="responsive" alt="sewa mobil di surabaya"></amp-img>
                            <h6>Kontak Kami</h6>
                        </a>
                    </div>
                </div>
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ul class="menu vs-menu show-for-medium">
                <li class="vs-menu-li">
                    <a href="/product" class="vs-menu-a ">Sewa Mobil</a>
                </li>
                <li class="vs-menu-li">
                    <a href="/about-us" class="vs-menu-a ">Tentang Kami</a>
                </li>
                <li class="vs-menu-li">
                    <a href="/gallery" class="vs-menu-a ">Galleri</a>
                </li>
                <li class="vs-menu-li">
                    <a href="/contact-us" class="vs-menu-a ">Kontak Kami</a>
                </li>
            </ul>
        </div>
    </div>
</header>