<!DOCTYPE html>
<html ⚡ lang="{{ site.lang }}">

<head prefix="og: http://ogp.me/ns#">
    <meta name="msvalidate.01" content="7C1FC3285ED1337E5BBEC395C94EA84F" />
    {% include metadata.html %} {% include amp-project.html %} {% include amp-boilerplate.html %} {% include amp-instagram.html %} {% include amp-sidebar.html %} {% include amp-form.html %}
    <style amp-custom>
        {% include amp-custom-home.html %}
    </style>
</head>

<body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %} {% include float-button.html %}
    {% include home-artikel.html %}
</body>

</html>
